.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #333;
    color: white;
}

.footer-section-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 1200px;
}

.footer-section-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
}

.footer-section-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
}

.footer-section-4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 800px;
}

.social-icon-container {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icons {
    cursor: pointer;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    padding: 7;

}

.contact-item {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}