body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f6ea;
}

.navbar-main-container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    position: sticky;
    top: 0;
}

.main-logo {
    border-radius: 30px;

}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-name {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.nav-link-container {
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.auth-links-container {
    display: flex;
    gap: 20px;
    cursor: pointer;

}