.navbar-main-container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    position: sticky;
    top: 0;
}

.main-logo {
    border-radius: 30px;

}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-name {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}